@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@1,400;1,700&family=Chicle&display=swap');


.App {
  position: relative;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  /* background-color: #905132; */
  background: rgb(199,144,103);
  background: -moz-radial-gradient(circle, rgba(199,144,103,1) 20%, rgba(144,81,50,1) 70%, rgba(129,94,119,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(199,144,103,1) 20%, rgba(144,81,50,1) 70%, rgba(129,94,119,1) 100%);
  background: radial-gradient(circle, rgba(199,144,103,1) 20%, rgba(144,81,50,1) 70%, rgba(129,94,119,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c79067",endColorstr="#815e77",GradientType=1); 

  display: flex;
  justify-content: center;
  align-items: center;
}

nav.navbar {
  position: fixed;
  top: 40px;
  width: 90%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: flex-end;  

  margin: 20px 20px 0 20px;
  /* margin-bottom: 10px; */
  
  padding-left: 10px;
  padding-right: 10px;

  /* margin: 12px 12px 2p 2px; */
  background-color: rgba(230, 233, 236, 0.8);

  z-index: 9;
  border-radius: 15px;

  /* box-shadow: 0 0 20px #9eada8; */
}

div.left {
  position: absolute;
  left: 250px;
  
  display: flex;
  align-items: center;
  gap: 20px;

  z-index: 5;
}

div.left h1 {
  font-size: 5rem;
  font-family: 'Chicle', cursive;
  letter-spacing: 0.2rem;
  color: #9eada8;
  font-weight: 400;
  text-shadow: 2px 2px 3px #323a45;
}

img.cat-1 {
  position: absolute;
  top: -30px;
  left: 0;
  height: 200px;
  z-index: 1;
  border-radius: 15px;
  /* box-shadow: 0 0 30px #9eada8; */
  box-shadow: inset -10px -10px 10px 20px inherit;
}

nav.navbar div.right {
  /* position: absolute;
  top: 0;
  right: 0; */

  display: flex;
  gap: 30px;
  margin-right: 10px;

}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 70px;
}

div.home, div.price {
  /* padding-top: 50px; */
  position: relative;
  width: 40%;
  min-height: 40%;

  padding: 20px;

  text-align: justify;
  text-indent: 20px;

  box-shadow: 0 0 20px #9eada8;

  /* border: 3px solid rgba(230, 233, 236, 0.8);;
  border-radius: 10px; */

  background-color: rgba(224, 221, 170, 0.1);
  margin-top: 90px;
  border-radius: 10px;
}

/* div.home::after {

  opacity: 0.5;
} */

div.home h1, div.bid h1, div.price h1 {
  padding-bottom: 40px;

  font-family: 'Chicle', cursive;
  letter-spacing: 0.1rem;
  color: #9eada8;
  font-weight: 400;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px #323a45;
}

div.home p, div.bid p, div.price p {
  font-size: 1.7rem;
  font-family: 'Andika', sans-serif;
  font-weight: 700;
  color: rgba(230, 233, 236, 0.8);
  text-shadow: 1px 1px 2px #323a45;
  line-height: 2.8rem;
}

img.background {
  margin-top: 90px;
  opacity: 0.7;
}

button.paw {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

div.left-right {
  position: relative;
  /* left: 50vw; */
  width: 40%;
  max-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90; 
}

img.paws {
  position: absolute;
  
  transform: rotate(115deg);
  opacity: 0.7;
  padding: 10px;
  margin-bottom: 30px;
  z-index: 999;
  overflow: hidden;

}

img.black-paw:hover {
  transform: scale(110%);
  opacity: 0.9;
}

img.orange-paw:hover {
  transform: scale(90%);
  opacity: 0.9;
}

div.right button {
  display: inline-block;

  font-family: 'Chicle', cursive;
  font-weight: 400;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;

  color: #9eada8;
  text-shadow: 2px 1px 2px #323a45;

  line-height: 80px;

  transform: scale(1, 1.3);
}
/* button.paw {
  z-index: 999;
  height: 100px;
} */
/* style={{backgroundColor:"#E6E9EC", height: "40px", display:"flex", alignItems: "center", justifyContent:"space-between"}} */

/* button.yarn {
  position: absolute;
  bottom: -60px;
  color: inherit;
} */


.fb {
  position: absolute;
  left: 5%;
  bottom: 80px;
  height: 100px;
  opacity: 0.7;
}

.fb:hover {
  
}

.paws-home {
  position: absolute;
  top: 20%;
  left: 25%;
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
  transform: rotate(30deg);
  opacity: 0.2;
  transform: scale(2.0);
}